
<div class="row">
  <div class="col-md-12" style="height:100px; padding:25px ;color: white;">
  <div class="text-center">
      <h1 style="color: white;">BLUESCOPE TECHNOLOGY</h1>
  </div>
  
  </div>
  
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
        <app-base></app-base>
    </div>
    <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-md-6">
      <input type="file" (change)="onfileselected($event)">
      <button type="button" (click)="upload()">Upload</button>
    </div> -->