


<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="login()" style="border-radius: 0.7%;">Go To Login:</button> 
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="register()" style="border-radius: 0.7%;">Go To Register: </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="table()" style="border-radius: 0.7%;">Go To TableForm: </button>
        </div>
    </div>
</div> -->
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
      <h5 class="text-center" style="background-color: rgb(31, 194, 223); padding: 10px;">{{json.name}}</h5>
    </div> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-top: 20px;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngFor="let menu of menugroup">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active" >
          <a class="nav-link" href="#" style="color: rgb(226, 23, 23);" >{{menu.name}} <span class="sr-only">(current)</span></a>
        </li> -->
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{menu.name}}
          </button>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item" href="#">{{menu.permission}}</a>
            <br>
            <a class="dropdown-item" href="#">{{menu.url}}</a><br>
            <a class="dropdown-item" href="#">{{menu.entityTypeCode}}</a><br>
            <a class="dropdown-item" href="#">{{menu.entitySubTypeCode}}</a><br>
            <a class="dropdown-item" href="#">{{menu.description}}</a><br>
            <a class="dropdown-item" href="#">{{menu.pageId}}</a><br>

      </div>
      </ul>
      </div>
     
  </nav>
 
  </div>
  <p style=" text-align:center ;color: rgb(209, 19, 76);">
   <b> {{json.title}}</b>
  </p>
  
  