
<h1 class="text-center" style="color: brown;"><b>TEMPLATE-DRIVEN FORM</b></h1>
<hr>

<div class="container">

    <div class="row"> 
        <div class="col-md-6">
            <div id="ui">
                <h1 class="text-center">REGISTRATION FORM</h1>
                <hr>
                <form class="form-group " style="text-align:center" #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
                <label>First Name:</label>
                <input type="text" name="firstname" class="form-control" placeholder="Enter Your User Name" #firstname="ngModel" [(ngModel)]="user.firstname" required minlength="6" />
                
                <span *ngIf="firstname.invalid && firstname.touched" class="error">
                 <span *ngIf="firstname.errors?.required">First name is required</span>
                 <span *ngIf="firstname.errors?.minlength">Enter the Minimum 6 character</span>

                </span>
                
                <br>
             <label>Last Name:</label>
                    <input type="text" name="lastname" class="form-control"placeholder="Enter Your Last Name"#lastname="ngModel"  [(ngModel)]="user.lastname" required>
                    <span *ngIf="lastname.invalid && lastname.touched" class="error">Last Name Field Is Required</span>
                    <br>
                    <label>Password:</label>
                     <input type="password"  name="password" class="form-control" placeholder="Enter Your Password" #password="ngModel" [(ngModel)]="user.password" required>
                     <span *ngIf="password.invalid && password.touched" class="error">Password Field Is Required</span>

                           
                            <br>
                     <label>Email:</label>
                         <input type="text" name="email"  class="form-control" placeholder="Enter your Email Address" #email="ngModel" [(ngModel)]="user.email" required >
                         <span *ngIf="email.invalid && email.touched" class="error">Email Field Is Reqired</span>
                         <br>
                         <button type="submit"  class="btn btn-primary btn-block btn-lg"  >Register</button>
             </form>
            </div>
        </div>
        
    </div>
</div>
<br>
