<div class="container-fluid">

    <div class="row"> 
        <div class="col-md-4">
            <!-- <div id="ui"> -->
            
                    
                <h1 class="text-center"style="color:white">REGISTRATION FORM</h1>
                
                
                
                <form class="form-group " style="text-align:center" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" class="error" >
                    
                        
                    <label class="label control-label">User Name:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" formControlName= "uname" class="form-control" placeholder="Enter Your User Name"[ngClass]="{'form-control':true,'is-invalid':!f.uname?.valid && f.uname?.touched, 'is-valid':f.uname?.valid }" />
                </div>
                        <div *ngIf="f.uname?.errors?.required && f.uname?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">User Field is required</div>
                        <div *ngIf="f.uname?.errors?.minlength && f.uname?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Name should be atleast 5 characters.</div>
                        <div *ngIf="f.uname?.errors?.maxlength && f.uname?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Maximum name should be only 8 characters.</div>
                           <br>
                               
                    <label class="label control-label">Last Name:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" formControlName= "lname" class="form-control" placeholder="Enter Your Last Name"[ngClass]="{'form-control':true,'is-invalid':!f.lname?.valid && f.lname?.touched, 'is-valid':f.lname?.valid }" />
                    </div>
                            <div *ngIf="f.lname?.errors?.required && f.lname?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Last Name Field is required</div> 
                
                            <br>
                    
                    <label class="label control-label">Password:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password"  formControlName="password" class="form-control" placeholder="Enter Your Password"[ngClass]="{'form-control':true,'is-invalid':!f.password?.valid && f.password?.touched,
                            'is-valid':f.password?.valid }"  />
                            </div>
                            <div *ngIf="f.password?.errors?.required && f.password?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Password Field is required</div>
                            <div *ngIf="f.password?.errors?.minlength && f.password?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Password should be atleast 6 character</div>
                            
                            <br>
                     <label class="label control-label">Email:</label>
                     <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                         <input type="text" formControlName="email"  class="form-control" placeholder="Enter your Email Address" [ngClass]="{'form-control':true,'is-invalid':!f.email?.valid && f.email?.touched,
                         'is-valid':f.email?.valid }"/>
                         </div>
                         <div *ngIf="f.email?.errors?.required && f.email?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Email Field is required</div>
                         <div *ngIf="f.email?.errors?.email && f.email?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Enter your valid email address</div>
                    <br>
                    <label class="label control-label">Phone Number:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                    <input type="number" class="form-control" formControlName="pnum" [ngClass]="{'form-control':true,'is-invalid':!f.pnum?.valid && f.pnum?.touched, 'is-valid':f.pnum?.valid }">
                    </div>
                    <div *ngIf="f.pnum?.errors?.required && f.pnum?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Phone Number Is Required</div>
                    <div *ngIf="f.pnum?.errors?.pnum && f.email?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Enter your valid Phone Number</div>
                    <br>
                    <label class="label control-label">Gender</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <select class="form-control" formControlName="gender" [ngClass]="{'form-control':true,'is-invalid':!f.gender?.valid && f.gender?.touched, 'is-valid':f.gender?.valid }">
                        <option *ngFor="let g of gend" [value]="g">{{g}}</option>
                    </select>
                    </div>
                    <div *ngIf="f.gender?.errors?.required && f.gender?.untouched" id="fnHelp" class="form-text custom-invalid-feedback">Gender Is Required</div>
                    <br>
                    
                    
                    
                     <button type="submit"  class="btn btn-default btn-block btn-lg"   >Register</button>
             </form>
            <!-- </div> -->
        </div>
        
    </div>
    
</div>
<br>
