#ui{
    background-color: rgb(224, 165, 215);
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;

    
}
#ui label,h1{
    color:black;
}

.ng-valid[required], .ng-valid.required  {
    border-right: 7px solid #1aa121; 
  }
  .ng-invalid:not(form)  {
    border-right: 7px solid #ca1512; /* red */
    
  }
.error{
    color:rgb(196, 71, 71);
}

