<!-- <form>
    <label>Name</label>
    <input type="text" value="name">
    <button type="button" class="btn btn-primary">Submit</button>
</form>
 -->
 <!-- <form class="form">
    <table>
        <tr>
            <td><b>User name</b>: </td>
            <td><input type="text" value="Enter your Name">
             </td>
            </tr>
            <tr>
                <td><b>password:</b></td>
                <td>
                    <input type="password"  name="password">
                    
                    
                
                </td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>
                    <input type="email"  name="mail">
                   
                </td>
            </tr>
            <tr>
                <td><b>Gender</b>:</td>
                <td>
                    <input type="radio" name="gender">Male
                    <input type="radio" name="gender">Female
                    <input type="radio" name="gender">Others
                </td>
            </tr>
            <tr>
                <td><b>Date of Birth:</b></td>
                <td>
                    
                
                    <input type="date" name="date">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary">Submit
                        </button>
                    </td>
            </tr>
    </table>
</form>
 -->
 <h3>REGISTER FORM</h3>
 <form class="form">
     <input type="text" placeholder="First Name"><br>
     <input type="text" placeholder="Mail or Phone"><br>
     <input type="password" placeholder="New Password"><br>
     <button type="button" class="btn btn-success" style="margin-left:130px;">RESISTER
    </button>
     
 </form>