


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="login()" style="border-radius: 0.7%;">Go To Login:</button> 
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="register()" style="border-radius: 0.7%;">Go To Register: </button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click)="table()" style="border-radius: 0.7%;">Go To TableForm: </button>
        </div>
    </div>
</div>